@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto';
    height: 100vh;
}

@media (min-width: 1024px){
    body {
        font-size: 25px;
    }
}

header {
    height: 100vh;
    display: flex; /*flex permite os cod abaixo funcionar*/
    justify-content: center; /*centraliza horizontalmente*/
    align-items: center; /*centraliza verticalmente*/
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {
    header {
        background-image: url('../img/background-responsive.jpg');
    }
}

.menu {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    transition: background-color .2s, text-decoration .5s;
    
}

.menu a:hover {
    text-decoration: underline red;
    background-color: rgb(36, 36, 36);
}

.perfil {
    text-align: center;
}

.perfil-img {
    width: 200px;
    border-radius: 100%;
    border: solid whitesmoke;
}

@media (max-height: 450px) {
    .perfil-img {
        width: 120px;
        margin-top: 50px;
    }
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    line-height: 2em;
    text-shadow: 1px 2px 2px #000;
}

.site-subtitle {
    font-style: italic;
}

.projetos {
    height: 100vh;
}

.projetos h2 {
    font-family: 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 32px;
    width: 100%;
    color: #fff;
    padding: 10px;
    background-color: darkorange;
}

.projetos .grid {
    display: grid;
    gap: 3em;
}

@media (min-width: 1025px) {
    .projetos .grid {
        grid-template-columns: 45% 45%;
        align-content: center;
        justify-content: center;
    }
}

.projetos figure {
    text-align: center;
}

.img-portfolio {
    width: 60%;
}

@media (min-width: 1025px) {
    .img-portfolio {
        width: 460px;
        height: 250px;
        object-fit: cover;
        object-position: 0px -23px;
    }
}